<!-- Default textarea -->

<div class="form-group mt-3">
  <!-- Default input -->
  <label for="exampleForm2">Title</label>
  <input class="form-control form-control-lg" type="text" [(ngModel)]="post.title" name="title" placeholder="">
</div>
<div class="form-group mt-2">
  <label for="exampleFormControlTextarea1">Body</label>
  <textarea class="form-control md-textarea-auto" [(ngModel)]="post.body" name="body" id="exampleFormControlTextarea1" rows="15"></textarea>
</div>

<!-- Save as Draft -->
<button type="button" (click)="onSave()" class="btn btn-warning">Save Draft</button>

<!-- Publish post -->
<button type="button" (click)="onPublish()" class="btn btn-success">Publish</button>