<!-- Section: Blog v.1 -->
<section class="my-5">
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img (28).jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">
      <!-- Post title -->
      <h3 class="font-weight-bold mb-3">
        <strong>Title of the news</strong>
      </h3>
      <!-- Excerpt -->
      <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
        qui ratione voluptatem sequi nesciunt. Neque porro qui dolorem ipsum quia sit amet. Nemo enim ipsam voluptatem quia
        voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
        nesciunt. Neque porro qui dolorem ipsum quia sit amet. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
        odit aut fugit.</p>
      <!-- Edit post button -->
      <a class="btn btn-md btn-primary" routerLink="/post/1" routerLinkActive="active">Edit</a>

      <!-- Delete post button -->
      <a class="btn btn-md btn-danger" routerLink="/post/1" routerLinkActive="active">Delete</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
  <hr class="my-5">

</section>
<!-- Section: Blog v.1 -->